.App {
  text-align: center;
  background: url("https://c0.wallpaperflare.com/preview/478/338/450/red-and-white-clouds.jpg");
  min-height: 120vh;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}